#page-header {
    margin-bottom: 1.5em;
}

#tabs {
    align-items: flex-end;
}

#tabs .tabs {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

#tabs .tabs:has(> h1) {
    flex-flow: column;
    align-items: center;
}

#tabs .tabs > h1 {
    margin-left: 0;
    margin-right: 0;
}

#meta {
    display: table;
    padding: 0 1em;
    border-left: thin solid rgba(0, 0, 0, 0.4);
    border-right: thin solid rgba(0, 0, 0, 0.4);
    margin: 2em auto 1.5em;
    max-width: 40em;
    text-align: center;
}

#meta p {
    line-height: 1.4;
}

#about {
    margin-top: 0;
}


.cards .card {
    margin: 1em;
}

.cards .card .duration {
    white-space: nowrap;
}

.cards .card .hoisted.bar {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    left: 0;
    right: 0;
    padding-left: 0.5em;
    line-height: 1.2;
}

.cards .card .tags {
    justify-content: flex-start;
    font-size: 1.1em;
    margin: 0.3em 0 0.3em -0.3em;
}

.cards .card .tags .tag {
    padding: 0.15em 0.3em;
    margin: 0.3em;
    opacity: revert;
}


:is(#background, #awards, #test-scores) .cards .card {
    padding-left: 0.4em;
    padding-top: 0;
    border: none;
    border-top: thin solid rgba(0, 0, 0, 0.4);
    border-left: thin solid rgba(0, 0, 0, 0.4);
    margin-top: 2em;
    background-color: transparent;
}

#background .cards .card {
    flex: 1 1 auto;
}

#background .cards .card h1 {
    font-weight: normal;
    font-size: large;
}

@media (max-width: 34.125em) {
    #experience #experience_programmer-at-Hexstream-Software {
        margin-top: 3em;
    }
}

#experience .cards .card h1 .title,
#education .cards .card h1 .field-of-study {
    font-weight: bold;
    font-size: xx-large;
}

#experience .cards .card h1 .company,
#education .cards .card h1 .school {
    font-size: x-large;
}

#experience .cards .card h1 .employment-type,
#education .cards .card h1 .degree {
    font-size: small;
    opacity: 0.6;
}

#education .tabs ul li span {
    white-space: nowrap;
}

#background .cards .card .hoisted {
    margin-bottom: 0.2em;
}


#skills label {
    font-size: smaller;
}

#skills .cards {
    margin-top: -0.5em;
}

:is(#skills, #recommendations) .cards .card {
    border: none;
    background-color: transparent;
}

#skills .cards .card {
    padding: 0;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

#skills .cards .card .skill {
    display: flex;
    flex-flow: row;
    padding: 0;
}

#skills .cards .card .skill .name {
    padding-right: 0.4em;
}

#skills .cards .card .skill > * {
    padding: 0.15em 0.3em;
}

#skills .cards .card .skill .endorsement-count {
    color: green;
    padding-left: 0.4em;
}

#skills #show-endorsement-counts:checked ~ .cards .card .skill .name {
    border-left: thin solid black;
}

#skills #show-endorsement-counts:not(:checked) ~ .cards .card .skill .endorsement-count {
    display: none;
}


#recommendations .cards .card {
    padding-left: 0.75em;
    border-left: thin solid black;
}


#projects .cards .card {
    margin-top: 2em;
}


#awards > .tabs {
    margin-bottom: -1.75em;
}

#awards_linkedin label {
    font-size: smaller;
}

#awards_linkedin > p {
    font-style: italic;
}

#awards_linkedin table {
    font-size: larger;
    border: none;
    margin: 0;
}

#awards_linkedin table tr:first-child td {
    padding-top: 0;
}

#awards_linkedin table tr:target {
    color: green;
}

#awards_linkedin table td {
    padding-left: 0;
    padding-right: 0;
    border: none;
    border-bottom: solid thin black;
    background-color: transparent;
}

#awards_linkedin table td.title {
    font-weight: bold;
}

#awards_linkedin table td:is(.date, .expiry, .duration) {
    text-align: right;
}

#awards_linkedin #show-badge-durations:not(:checked) ~ * table :is(.expiry, .duration) {
    display: none;
}

#awards_linkedin table td:is(.expiry, .duration) {
    padding-left: 1.75em;
}

#awards_linkedin table td:is(.unknown, .tbd) {
    font-style: italic;
    font-size: smaller;
}

#awards_linkedin table tr:not(:target) td:is(.unknown, .tbd) {
    opacity: 0.3;
}

#awards_linkedin table td a {
    color: inherit;
}


#certifications .gallery {
    justify-content: flex-start;
}


#test-scores .cards .card .score {
    font-weight: bold;
    font-size: larger;
}

main small {
    opacity: 0.5;
}
